<!DOCTYPE html>
<html lang="es">
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta charset="UTF-8">
  <title>HelloBee API</title>
  <link rel="stylesheet" href="stylesheets/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/estilo.css">
</head>
<body>
  <div class="container">
    <img src="images/logo.png" alt="" class="logoHome">
    <img src="images/mapa_blanco.png" class="abejaHome" alt="">
    <a href="/users/login"><img src="images/login.png" class="loginHome" alt=""></a>
    <a href="/users/crear"><img src="images/registro.png" class="registroHome" alt=""></a>
  </div>
  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/materialize.min.js"></script>
</body>
</html>